.buttons-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #66D8C0, #00BD9D);
    border: 4px solid #36494E;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #888888;
    height: 400px;
    width: 300px;
    margin: auto;
    margin-top: 25px;
    justify-content: space-evenly;
}

.result-container {
    background: linear-gradient(135deg, #C6EDD7, #95D7AE);
    border: 1px #0D160B solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #0D160B;
    height: 25px;
    padding-left: 10px;
    padding-top: 8px;
    margin-right: 25px;
    margin-left: auto;
}

.result {
    margin: auto 10px auto auto;
}

.row {
    display: flex;
    gap: 15px;
    margin-left: 30px;
}

button {
    font-size: 30px;
    border-radius: 20px;
    padding: 5px 15px;
    border-style: none;
    color: #293241;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.first button {
    background: linear-gradient(135deg,#D6F7E6,#A4F9C8 );
    box-shadow: 2px 3px #83dcae;
}

.first button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px #69b08b;
}

.second button {
    background: linear-gradient(135deg, #D4FFFA, #A7FFF6);
    box-shadow: 2px 3px #85E0D7;
}

.second button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px #6ab3ac;
}

.third button {
    background: linear-gradient(135deg, #E9E0F7, #BDADEA);
    box-shadow: 2px 3px #9F91D0;
}

.third button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px #7f74a6;
}

.fourth button {
    background: linear-gradient(135deg, #FFE9D7, #FFD6BA);
    box-shadow: 2px 3px #E6B99D;
}

.fourth button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px #B8947D;
}

.fifth button {
    background: linear-gradient(135deg, #FFF4C2, #F6E27F);
    box-shadow: 2px 3px #D6C466;
}

.fifth button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px #AB9D52;
}

.first .clear,
.first .del {
    background: linear-gradient(135deg, #FFD1CD, #FF7A75);
    box-shadow: 2px 3px #D9605B;
}

.first .clear:active,
.first .del:active {
    transform: translateY(2px);
    box-shadow: 1px 1px #AD4D49;
}

.first button:hover,
.second button:hover,
.third button:hover,
.fourth button:hover,
.fifth button:hover {
    filter: brightness(95%);
}

.del,
.clear {
    font-size: 24px;
}

.zero {
    padding-right: 77px;
}

.sub {
    padding: 0 18px;
}

.dot {
    padding: 0 19px;
}